<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>GoFit.Ai needs access to your health data to track your steps, calories, heart rate, and other fitness metrics to provide personalized recommendations.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>GoFit.Ai needs permission to save your weight and water intake data to Apple Health to keep your health information synchronized.</string>
</dict>
</plist>
